<!-- cart -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
</head>

<body>
    <h2>Your Cart</h2>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.product.name}"></td>
                <td th:text="${item.quantity}"></td>
                <td th:text="${item.product.price}"></td>
            </tr>
        </tbody>
    </table>
    <h3>Total: <span th:text="${totalPrice}"></span></h3>
    <br />
    <!-- <a href="/cart/checkout">Proceed to Checkout</a>
    <br />
    <a href="/product-list">Continue Shopping</a> -->
</body>

</html>